{% extends "base.html" %}

{% block title %}
  Tweets
{% endblock %}

{% block content %}
{% if not request.GET.q %}
  <div class="row">
    <div class="col-md-3 name-plate">
      {{request.user}}
    </div>
    <div class="col-md-6">
      {% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" %}
    </div>
  </div>
  <hr>
{% endif %}
<div class="row">
  {% if tweets %}
    {% for tweet in tweets %}
    <div class="col-md-8 col-md-offset-2 text-center">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img src="http://via.placeholder.com/120x120" alt="..." class="media-object">
          </a>
        </div>
        <div class="media-body card">
          <div class="media-heading card-content">
            <p>{{tweet.text|truncatechars:70}}</p>
          </div>
          <div class="text-center">
            By: {{tweet.user}} | {{tweet.timestamp|timesince}} | <a href="{{ tweet.get_absolute_url }}">View</a>
          </div>
        </div>
      </div>
      <hr>
    </div>

    {% endfor %}
  {% else %}
    <h1>No Posts</h1>
  {% endif %}
</div>
{% if is_paginated %}
  <div class="pagination">
      <span class="page-links">
          {% if page_obj.has_previous %}
              <a href="/?q={{request.GET.q}}&page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
              <a href="/?q={{request.GET.q}}&page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
{% endif %}

{% endblock %}
